header #head {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

header #head ul {
    display: flex;
    list-style-type: none;
    padding-left: 0%;
    margin-left: 0%;
    color: white;
}

header #head ul li a {
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

header #head ul li {
    padding: 5px 6px;
}

header #head ul :hover {
    text-decoration: underline;
}

header .img img {
    width: 10px;
    height: 80px;
    object-fit: contain;
    object-position: center center;
}

header {
    background-color: black;
    padding: 2.5% 5% 0% 5%;
}

header div p {
    color: white;
}

html body {
    margin: 0%;
    padding: 0%;
}

#bookNow {

    border-radius: 25px;
    border: 1px solid white;
    background-color: rgba(81, 49, 39, 255);

}

#bookNow {
    color: white;
    padding: 15px
}

#btnHolder :hover {
    background-color: white;
    color: rgba(81, 49, 39, 255);
    transition-duration: 100ms;
}

#bookNow :hover {
    transition-duration: 100ms;
}

.SatvikPosing {
    background-image: url("https://cdn.discordapp.com/attachments/878096434648473660/970461815496663090/PXL_20210710_032408403.MP.jpg");
    width: 90%;
    margin-left: 5%;
    height: 550px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

footer > div > a{
    padding-left: 3px;
    padding-right: 3px;
    height: 25px;
    width: 25px;
}

footer>div>a>div {
    background-repeat: no-repeat;
    background-size: 20px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    display: block;
}


#facebook{
    background-image: url(./icons/facebook.jpeg);
}
#youtube {
    background-image: url(./icons/youtube.jpg);
}

#tiktok {
    background-image: url(./icons/tiktok.jpg);
}